<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Juegosangular</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="/src/app/app.component.css">
 
</head>

<body>
    <!--para poder poner bien el fondo-->
<div class="skin-wrapper ">
    <div class="skin-inner">
        <div class="background" >
        <img src="\assets\halloween2021-vongrimswo.png" alt="fondo imagen" width="100%"> </div>
        <div class="skin-bars"></div>
    </div>
</div>

<!---pues el nav--->
<nav class="navbar2">
    <div class="logo">
        <img src='\assets\logonecrocis-removebg-preview.png' alt="NecrocisGames">
    </div>
    <nav>
       <ul class="nav-boton">
         <!-- <a routerLink="#">Login</a>-->
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="#">About us</a></li>
            <li><a routerLink="/login">Login</a></li>
            <li><a (click)="cambiarTema">theme's</a></li>

       </ul>            
    </nav>
    <a class="btn" routerLink="/sing-up"><button>Sing up</button></a>
</nav>

    

    
    <!-- Contenido de la página aquí -->

<router-outlet></router-outlet>
  

<!--pie de pagina-->
<footer class="footer">
    <div class="container">
        <div class="footer-contenido">
            <div class="footer-section about">
                <h2>Information</h2>
                <p>The number 1 page for games made with Adobe flash, Unity, TScrip and many more.</p>
                <div class="contacto">
                    <span><i class="contacto-correo"></i> NecrocisGamesInfo&#64;NecrocisGames.com</span>
                    <span><i class="Contacto-direccion"></i> Visita nuestras oficinas en: Calle siempre viva #123</span>
                  
                </div>
            </div>
            <div class="footer-section links">
                <h2>Quick links</h2>
                <ul>
                    <li><a id="linksfooter" routerLink="#">Inicio</a></li>
                    <li><a id="linksfooter" routerLink="#">About us</a></li>
             
                </ul>
            </div>
            <div class="footer-section social">
                <h2>Follow us</h2>
                <div class="social-links">
                    <ul>
                     <li><a href='https://www.facebook.com/alejandro.figueroadelgado'> <img src="\assets\facebook.png" alt="facebook" width="50px"></a></li>
                     <li><a href="https://www.instagram.com/figueroaaaw/">  <img src="\assets\instagram.png" alt="instagram" width="50px"></a></li>
                     <li><a href="#"> <img src="assets\twitter.png" alt="twitter" width="50px"></a></li>
                  
                </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-derechos">
        <p>&copy; Derechos de autor 1995-2023 Newgrounds, Inc. Todos los derechos reservados. <a>Política de privacidad | Condiciones de uso</a>.</p>
    </div>
</footer>
</body>
</html>
