<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/src/app/app.component.css">
    <title>Document</title>
</head>
<body>
    <body>

        <!--seleccion main de juegos-->
        <main>
           <div class="main-container">

            <div class="container-asidesection">
                <!--aside osea lo que esta a la izquierda-->
                <aside class="aside">
                   <!--add img-->
                   <div class="div-vertical-add">
                   <a href="#">
                       <img src="\assets\logonecrocis-removebg-preview.png" alt="Add">
                   </a>
               </div>
                   <!--top juegos lista-->
                   <div class="div-vertical-game">Tops Games</div>
                   <ul>
                   <!-- <a routerLink="login">ir  LOGIB</a>-->
                    <li>  <a id="toptex" routerLink="#">Game 4</a></li>
                    <li>  <a id="toptex" routerLink="#">Game 5</a></li>
                    <li>  <a id="toptex" routerLink="#">Game 2</a></li>
                    <li>  <a id="toptex" routerLink="#">Game 1</a></li>
                    <li>  <a id="toptex" routerLink="#">Game 3</a></li>
                
                   </ul>
                 </aside>
              </div>
       
                 <!--parte de la derecha cuadrado grande-->
               <div class="container-section">
                   <!--inicio de seccion-->
                 <section class="section">
                   <!--lista de juegos-->
                   <div class="row" class="row-inicial" id="img-margen-top">
                     <div class="Juego-boton">
                      
                     </div>
                   </div>
                   <div class="row"> 
                       <div class="Juego-boton"><a routerLink="#"> <img src="\assets\img_portgame\game1.png" alt="Game 1"> </a><div class="Descripcion-portada"><span routerLink="#" >Flossing Mishap</span></div><span id="spanautor">Jaime-R</span></div>
                    
                       <div class="Juego-boton"><a routerLink="#"> <img src="\assets\img_portgame\game2.png" alt="Game 2"> </a><div class="Descripcion-portada"><span routerLink="#" >Flossing Mishap</span></div><span id="spanautor">Jaime-R</span></div>
                   </div>
                     <div class="row">
                       <div class="Juego-boton"><a routerLink="#"> <img src="\assets\img_portgame\game3.png" alt="Game 3"> </a><div class="Descripcion-portada"><span routerLink="#" >Flossing Mishap</span></div><span id="spanautor">Jaime-R</span></div>
                       <div class="Juego-boton"><a routerLink="#"> <img src="\assets\img_portgame\game4.png" alt="Game 4"> </a><div class="Descripcion-portada"><span routerLink="#" >Flossing Mishap</span></div><span id="spanautor">Jaime-R</span></div>
                   </div>
                   <div class="row">
                       <div class="Juego-boton"><a routerLink="#"> <img src="\assets\img_portgame\game5.png" alt="Game 5"> </a><div class="Descripcion-portada"><span routerLink="#" >Flossing Mishap</span></div><span id="spanautor">Jaime-R</span></div>
                       <div class="Juego-boton"><a routerLink="#"> <img src="\assets\img_portgame\game1.png" alt="Game 6"> </a><div class="Descripcion-portada"><span routerLink="#" >Flossing Mishap</span></div><span id="spanautor">Jaime-R</span></div>
                   </div>
                   <div class="row">
                    <div class="Juego-boton"><a routerLink="#"> <img src="\assets\img_portgame\game5.png" alt="Game 5"> </a><div class="Descripcion-portada"><span routerLink="#" >Flossing Mishap</span></div><span id="spanautor">Jaime-R</span></div>
                    <div class="Juego-boton"><a routerLink="#"> <img src="\assets\img_portgame\game1.png" alt="Game 6"> </a><div class="Descripcion-portada"><span routerLink="#" >Flossing Mishap</span></div><span id="spanautor">Jaime-R</span></div>
                </div>
                 </section>
               </div>
           </div>
        </main>
    
    </body> 
</body>
</html>

