<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/src/app/app.component.css">
    <title>pagina inicial de juegos</title>
</head>
<body>
    <body>

        <!--seleccion main de juegos-->
        <main>
           <div class="main-container">

            <div class="container-asidesection">
                <!--aside osea lo que esta a la izquierda-->
                <aside class="aside">
                   <!--add img-->
                   <div class="div-vertical-add">
                   <a href="#">
                       <img src="\assets\logonecrocis-removebg-preview.png" alt="Add">
                   </a>
               </div>
                   <!--top juegos lista-->
                   <div class="div-vertical-game">Tops Games</div>
                   <ul>
                   <!-- <a routerLink="login">ir  LOGIB</a>-->
                    <li>  <a id="toptex" routerLink="#">1- Roblox.</a></li>
                    <li>  <a id="toptex" routerLink="#">2- Minecraft.</a></li>
                    <li>  <a id="toptex" routerLink="#">3- Solitario.</a></li>
                    <li>  <a id="toptex" routerLink="#">4- Star wards the age of lods sit.</a></li>
                    <li>  <a id="toptex" routerLink="#">5- Amon Us.</a></li>
                
                   </ul>
                 </aside>
              </div>
       
                 <!--parte de la derecha cuadrado grande-->
               <div class="container-section">
                   <!--inicio de seccion-->
                 <section class="section">
                   <!--lista de juegos-->
                   <div class="row" class="row-inicial" id="img-margen-top">
                   </div>
                   <div class="row"> 
                    <div class="Juego-boton"><a routerLink="/juego1"> <img src="\assets\img_portgame\barba.png" alt="Game 1"> </a><div class="Descripcion-portada"><span routerLink="/juego1" >Greedy Goblins</span></div><span id="spanautor">ClupPunk</span></div>
                    <div class="Juego-boton"><a routerLink="/juego2"> <img src="\assets\img_portgame\clean.png" alt="Game 2"> </a><div class="Descripcion-portada"><span routerLink="/juego2" >Help Me Clean My Room!</span></div><span id="spanautor">musrattus</span></div>
                    <div class="Juego-boton"><a routerLink="/juego3"> <img src="\assets\img_portgame\paja.png" alt="Game 3"> </a><div class="Descripcion-portada"><span routerLink="/juego3" >Bird Tapper: Purple Platoon Panic</span></div><span id="spanautor">BobbyBurt</span></div>
                   </div>
                   <div class="row">
                    <div class="Juego-boton"><a routerLink="/juego4"> <img src="\assets\img_portgame\radi.png" alt="Game 4"> </a><div class="Descripcion-portada"><span routerLink="/juego4" >shyfu</span></div><span id="spanautor">Niño rata</span></div>
                    <div class="Juego-boton"><a routerLink="/juego5"> <img src="\assets\img_portgame\fores.png" alt="Game 5"> </a><div class="Descripcion-portada"><span routerLink="/juego5" >Forest Shack</span></div><span id="spanautor">HatiValcoran</span></div>
                    <div class="Juego-boton"><a routerLink="/juego6"> <img src="\assets\img_portgame\dra.png" alt="Game 6"> </a><div class="Descripcion-portada"><span routerLink="/juego6" >OneBit Adventure</span></div><span id="spanautor">SpaceKryptonite </span></div>
                   </div>
                   <div class="row">
                    <div class="Juego-boton"><a routerLink="/juego7"> <img src="\assets\img_portgame\frut.png" alt="Game 7"> </a><div class="Descripcion-portada"><span routerLink="/juego7" >The Frut heath relog</span></div><span id="spanautor">Niño rata</span></div>
                    <div class="Juego-boton"><a routerLink="/juego8"> <img src="\assets\img_portgame\game5.png" alt="Game 8"> </a><div class="Descripcion-portada"><span routerLink="/juego8" >Star wars the age of lord sit</span></div><span id="spanautor">Jaime-R</span></div>
                    <div class="Juego-boton"><a routerLink="/juego9"> <img src="\assets\img_portgame\min.png" alt="Game 9"> </a><div class="Descripcion-portada"><span routerLink="/juego9" >Minecraft</span></div><span id="spanautor">Jaime-R</span></div>
                   </div>
                   <div class="row">
                    <div class="Juego-boton"><a routerLink="/juego10"> <img src="\assets\img_portgame\stik.png" alt="Game 10"> </a><div class="Descripcion-portada"><span routerLink="/juego10" >Stick wards</span></div><span id="spanautor">Niño rata</span></div>
                    <div class="Juego-boton"><a routerLink="/juego11"> <img src="\assets\img_portgame\poly.png" alt="Game 11"> </a><div class="Descripcion-portada"><span routerLink="/juego11" >Polytopia</span></div><span id="spanautor">Jaime-R</span></div>
                    <div class="Juego-boton"><a routerLink="/juego12"> <img src="\assets\img_portgame\game1.png" alt="Game 12"> </a><div class="Descripcion-portada"><span routerLink="/juego12" >Dice Roll</span></div><span id="spanautor">Jaime-R</span></div>
               <!--seguir con los juegos-->
                </div>
               <!--seguir con las filas--> 
                 </section>
               </div>
           </div>
        </main>
    
    </body> 
</body>
</html>

