<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

   <div style="display: flex; justify-content: center;">
  <div class="container"style="display: flex; justify-content: center;">
    <div class="left">
      <!--anuncios-->
  <div class="container-asidesection">
    <!--aside osea lo que esta a la izquierda-->
    <aside class="aside">
       <!--add img-->
       <div class="div-vertical-add">
       <a href="http://caliente.com/">
           <img src="\assets\img_add\delfiadd.jpeg" alt="Add">
       </a>
   </div>
   
   
       <!--top juegos lista-->
       <div class="div-vertical-game">Tops Games</div>
       <ul>
       <!-- <a routerLink="login">ir  LOGIB</a>-->
        <li>  <a id="toptex" routerLink="#">1- Roblox.</a></li>
        <li>  <a id="toptex" routerLink="#">2- Minecraft.</a></li>
        <li>  <a id="toptex" routerLink="#">3- Solitario.</a></li>
        <li>  <a id="toptex" routerLink="#">4- Star wards the age of lods sit.</a></li>
        <li>  <a id="toptex" routerLink="#">5- Amon Us.</a></li>
    
       </ul>
       
     </aside>
  </div>
    </div>
  </div> 
    <!--juego-->

    <div id="iframe_embed"><div style="width: 760px; height: 480px; display: flex; padding-top: 50px;">
      <iframe allow="cross-origin-isolated" mozallowfullscreen="true" frameborder="0" src="https://uploads.ungrounded.net/alternate/5102000/5102733_alternate_237308_r9.zip/?NewgroundsAPI_PublisherID=1&amp;NewgroundsAPI_SandboxID=656e6400e4a50&amp;NewgroundsAPI_SessionID=Cn6GoPb2cE0baAGEv3u6e3d81738bdfa1219b797a8f08e25da300e127962qZ4M&amp;NewgroundsAPI_UserName=LeopoldoRodriguez&amp;NewgroundsAPI_UserID=6816702&amp;ng_username=LeopoldoRodriguez" 
      msallowfullscreen="true" allowfullscreen="true" webkitallowfullscreen="true" id="game_drop" allowtransparency="true" style="min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;" scrolling="no" data-dashlane-frameid="20"></iframe>
    </div></div>

      <div class="container1"style="display: flex; justify-content: center;">
        <div class="right">
          <!--anuncios-->
      <div class="container-asidesection">
        <!--aside osea lo que esta a la izquierda-->
        <aside class="aside">
           <!--add img-->
           <div class="div-vertical-add">
           <a href="https://www.gasnoel.com.mx/">
               <img src="assets\img_add\gas.jpeg" alt="Add">
           </a>
       </div>
       
           <!--top juegos lista-->
           <div class="div-vertical-game">
            <a href="https://www.hellmanns.com/es/home.html">
              <img src="assets\img_add\pollo.png" alt="anuncios" >
          </a>
           </div>
         </aside>
        </div>
        </div>
      </div>
   </div>
    
</body>
</html>
